/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url(components/banner.css);

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.section2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2 h1 {
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  align-items: center;
}

/* Custom design below! */
